<!-- Book詳細画面 -->
<div class="container">
 <div class="row">
  <div class="block">

 	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= render 'users/list', user: @user, book: @books %>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class='table table-hover table-inverse'>

  		<tbody class="tbody ">
      		<tr>
        		<td>
          			<%= attachment_image_tag @book.user, :profile_image, size: "40x40", format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %><br>
                <%= link_to @user.name, user_path(@user.id) %>
        		</td>
        		<td>
        			<%= @book.title %>
        		</td>
        		<td>
        			<%= @book.body %>
        		</td>
            <td>
              <% if @book.user == current_user %>
        			<%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success" %>
              <% end %>
        		</td>
        		<td>
        			<% if @book.user == current_user %>
        			<%= link_to "Destroy", book_path(@book.id), class: "btn-sm btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
        			<% end %>
        		</td>
      		</tr>
  		</tbody>

		</table>
	</div>
  </div>
 </div>
</div>